* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body background is set and all font colour is white */
body {
    background-color: #d9dcd6;
    color: #ffffff;
}

/* Header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* Header links */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* 'seo' in Horiseon different colour */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header (logo + links) */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Individual Header links */
.header div li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Any link in general */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Description of each section + copyright footer */
p {
    font-size: 16px;
}

/* Main page image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* 1st + 3rd content images */
.float-left {
    float: left;
    margin-right: 25px;
}

/* 2nd content image */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main body of content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Right sidebar content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Right sidebar margin under each section */
.benefit-lead,
.benefit-brand, 
.benefit-cost {
    margin-bottom: 32px;
}

/* Right sidebar margin under each section header */
.benefit-lead h3, 
.benefit-brand h3, 
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Right sidebar images */
.benefit-lead img, 
.benefit-brand img, 
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Main body content by individual sections */ 
.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/* Main content images */
.search-engine-optimization img, 
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Headers of main body content */
.search-engine-optimization h2, 
.online-reputation-management h2, 
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
}

/* Copyright */
.footer h2 {
    font-size: 20px;
}
